<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <title>
      Spotify Dedup - Elimina canciones duplicadas de tu biblioteca de Spotify
      automáticamente
    </title>
    <link
      rel="alternate"
      hreflang="es"
      href="https://jmperezperez.com/spotify-dedup/es/"
    />
    <link
      rel="alternate"
      hreflang="en"
      href="https://jmperezperez.com/spotify-dedup/"
    />
    <meta
      name="description"
      content="Elimina canciones repetidas de tus listas de reproducción de Spotify y canciones favoritas de una forma rápida y sencilla."
    />
    <meta
      name="og:description"
      content="Elimina canciones repetidas de tus listas de reproducción de Spotify y canciones favoritas de una forma rápida y sencilla."
    />
    <meta
      name="twitter:description"
      content="Elimina canciones repetidas de tus listas de reproducción de Spotify y canciones favoritas de una forma rápida y sencilla."
    />
    <meta
      name="og:title"
      content="Spotify dedup - Elimina canciones duplicadas de tu librería de Spotify rápido y fácil"
    />
    <meta
      name="twitter:title"
      content="Spotify dedup - Elimina canciones duplicadas de tu librería de Spotify rápido y fácil"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://jmperezperez.com/spotify-dedup/" />
    <link rel="shortcut icon" href="favicon.ico" />
    <style>
      .bmc-button img {
        width: 27px !important;
        margin-bottom: 1px !important;
        box-shadow: none !important;
        border: none !important;
        vertical-align: middle !important;
      }

      .bmc-button {
        line-height: 36px !important;
        height: 37px !important;
        text-decoration: none !important;
        display: inline-flex !important;
        color: #ffffff !important;
        background-color: #ff813f !important;
        border-radius: 3px !important;
        border: 1px solid transparent !important;
        padding: 0px 9px !important;
        font-size: 12px !important;
        letter-spacing: -0.08px !important;
        box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        margin: 0 auto !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        -o-transition: 0.3s all linear !important;
        -webkit-transition: 0.3s all linear !important;
        -moz-transition: 0.3s all linear !important;
        -ms-transition: 0.3s all linear !important;
        transition: 0.3s all linear !important;
      }

      .bmc-button:hover,
      .bmc-button:active,
      .bmc-button:focus {
        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        text-decoration: none !important;
        box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        opacity: 0.85 !important;
        color: #ffffff !important;
      }
    </style>
    <script>
      if (
        window.location.host === 'jmperezperez.com' &&
        window.location.protocol != 'https:'
      )
        window.location.protocol = 'https';
    </script>
  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <div class="container" id="app">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/spotify-dedup/es/">Principal</a></li>
        </ul>
        <h3 class="text-muted">Spotify dedup</h3>
      </div>

      <div class="default-content" v-if="!isLoggedIn">
        <div class="jumbotron">
          <h1>Deduplicador Spotify</h1>
          <p class="lead">
            Elimina canciones duplicadas de tus playlists y canciones guardadas.
          </p>
          <p>
            <button class="btn btn-lg btn-success" id="login">
              Iniciar sesión con Spotify
            </button>
          </p>
        </div>

        <div class="row marketing">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Busca &amp; elimina</h4>
            <p>
              Dedup comprueba tus playlists y canciones guardadas en
              <strong>tu biblioteca de Spotify</strong>. Una vez que Dedup
              encuentra duplicados los puedes eliminar playlist a playlist.
            </p>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Seguro</h4>
            <p>
              Dedup sólo elimina <strong>canciones duplicadas</strong>, dejando
              el resto de la lista de reproducción y colección de canciones
              guardadas intactos.
            </p>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Código abierto</h4>
            <p>
              Puedes echar un ojo al
              <strong>
                <a href="https://github.com/JMPerez/spotify-dedup/"
                  >código abierto en GitHub</a
                > </strong
              >. Esta aplicación web usa la
              <a href="https://developer.spotify.com/web-api/"
                >Web API de Spotify</a
              >
              para gestionar las playlists y canciones guardadas del usuario.
            </p>
          </div>
        </div>
      </div>

      <div class="dedup-result row" v-if="isLoggedIn">
        <div class="playlists col-lg-12">
          <span v-if="toProcess > 0">
            <h3>
              Buscando duplicados en tus listas de reproducción y canciones
              favoritas...
            </h3>
          </span>
          <span v-if="toProcess == 0">
            <h3>¡Procesamiento completado!</h3>
          </span>
          <div class="panel panel-default">
            <div class="panel-body">
              <span v-if="toProcess > 0">
                Buscando canciones duplicadas, espera un momento. Quedan
                <span>{{ toProcess }}</span> playlists por procesar.
              </span>
              <span v-if="toProcess == 0 && duplicates > 0">
                Tus playlists y canciones favoritas han sido procesadas. Haz
                click en el botón <strong>Eliminar duplicados</strong> para
                borrar las canciones duplicadas de esa lista de reproducción o
                colección.
                <div style="padding-top: 1em">
                  <a
                    class="bmc-button"
                    target="_blank"
                    href="https://www.buymeacoffee.com/jmp"
                  >
                    <img
                      src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg"
                      alt="¿Me compras un café?"
                    />
                    <span style="margin-left:5px">¿Me compras un café?</span>
                  </a>
                </div>
              </span>
              <span v-if="toProcess == 0 && duplicates == 0">
                Tus playlists y canciones favoritas han sido procesadas.
                <br />¡Enhorabuena! No tienes duplicados en tus listas de
                reproducción ni en tus canciones favoritas.
                <div style="padding-top: 1em">
                  <a
                    class="bmc-button"
                    target="_blank"
                    href="https://www.buymeacoffee.com/jmp"
                  >
                    <img
                      src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg"
                      alt="¿Me compras un café?"
                    />
                    <span style="margin-left:5px">¿Me compras un café?</span>
                  </a>
                </div>
              </span>
            </div>
          </div>
          <ul class="playlists-list">
            <li
              class="playlists-list-item media"
              v-if="savedTracks.duplicates.length || savedTracks.status"
            >
              <div class="img">
                <div
                  class="playlists-list-item__placeholder playlists-list-item__img"
                ></div>
              </div>
              <div class="bd">
                <span class="playlists-list-item__name"
                  >Canciones favoritas en tu biblioteca</span
                >
                <span v-if="savedTracks.status" class="label label-success">
                  {{ savedTracks.status }}</span
                >
                <span v-if="savedTracks.duplicates.length">
                  <span
                    >Esta colección tiene {{ savedTracks.duplicates.length }}
                    {{
                      savedTracks.duplicates.length > 1
                        ? 'canciones duplicadas'
                        : 'canción duplicada'
                    }}</span
                  >
                  <button
                    class="btn btn-primary btn-sm playlist-list-item__btn"
                    v-on:click="removeDuplicatesInSavedTracks()"
                  >
                    Eliminar duplicados de tus canciones favoritas
                  </button>
                  <ul class="duplicates">
                    <li v-for="duplicate in savedTracks.duplicates">
                      <span v-if="duplicate.reason === 'same-id'" class="badge"
                        >Duplicado</span
                      >
                      <span
                        v-if="duplicate.reason === 'same-name-artist'"
                        class="badge"
                        >Duplicado (mismo nombre, artista y duración)</span
                      >
                      <span>{{ duplicate.track.name }}</span>
                      <span class="gray"> de </span>
                      <span> {{ duplicate.track.artists[0].name }}</span>
                    </li>
                  </ul>
                </span>
              </div>
            </li>
            <li
              class="playlists-list-item media"
              v-for="playlist in playlists.filter(p => p.duplicates.length || p.status != '')"
            >
              <div class="img">
                <img
                  width="100"
                  height="100"
                  class="playlists-list-item__img"
                  v-bind:src="playlist.playlist.images && playlist.playlist.images[0] && playlist.playlist.images[0].url"
                />
              </div>
              <div class="bd">
                <span class="playlists-list-item__name">{{
                  playlist.playlist.name
                }}</span>
                <span v-if="playlist.status" class="label label-success">
                  {{ playlist.status }}</span
                >
                <span v-if="playlist.duplicates.length">
                  <span
                    >Esta playlist tiene {{ playlist.duplicates.length }}
                    {{
                      playlist.duplicates.length > 1
                        ? 'canciones duplicadas'
                        : 'canción duplicada'
                    }}</span
                  >
                  <button
                    class="btn btn-primary btn-sm playlist-list-item__btn"
                    v-on:click="removeDuplicates(playlist)"
                  >
                    Eliminar duplicados de esta playlist
                  </button>
                  <ul class="duplicates">
                    <li v-for="duplicate in playlist.duplicates">
                      <span v-if="duplicate.reason === 'same-id'" class="badge"
                        >Duplicado</span
                      >
                      <span
                        v-if="duplicate.reason === 'same-name-artist'"
                        class="badge"
                        >Duplicado (mismo nombre, artista y duración)</span
                      >
                      <span>{{ duplicate.track.name }}</span>
                      <span class="gray"> de </span>
                      <span>{{ duplicate.track.artists[0].name }}</span>
                    </li>
                  </ul>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div v-if="!isLoggedIn">
        <p
          style="text-align:center;font-weight:bold;font-size:2rem;margin-top:2rem"
        >
          Esto es lo que dicen los usuarios
        </p>
        <ul class="quotes">
          <li>
            <blockquote>
              I just discovered your @Spotify dedup web app & it is awesome!!!
              Recommend to all #Spotify users! –
              <a href="https://twitter.com/VanKenton">@VanKenton</a>
            </blockquote>
          </li>
          <li>
            <blockquote>
              @jmperezperez I've been using your spotify dedup code for years.
              Today, I finally decided to check out your other stuff. Amazing! I
              can't believe it took me this long to discover it –
              <a href="https://twitter.com/wormx">@wormx</a>
            </blockquote>
          </li>
          <li>
            <blockquote>
              Thanks for the Spotify De-Dup! Very helpful and extremely easy to
              use. – <a href="https://www.buymeacoffee.com/jmp">PTR</a>
            </blockquote>
          </li>
        </ul>
      </div>
      <div class="footer">
        <p>
          Hecho con ♥ por
          <a target="_blank" href="https://jmperezperez.com">JMPerez 👨‍💻</a> ·
          Mira el
          <a target="_blank" href="https://github.com/JMPerez/spotify-dedup/"
            >código en GitHub 📃</a
          >
          · Apoya el proyecto
          <a target="_blank" href="https://www.buymeacoffee.com/jmp"
            >comprando un café ☕</a
          >
        </p>
      </div>
    </div>

    <script>
      if (location.host === 'jmperezperez.com') {
        (function(b, o, i, l, e, r) {
          b.GoogleAnalyticsObject = l;
          b[l] ||
            (b[l] = function() {
              (b[l].q = b[l].q || []).push(arguments);
            });
          b[l].l = +new Date();
          e = o.createElement(i);
          r = o.getElementsByTagName(i)[0];
          e.src = '//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e, r);
        })(window, document, 'script', 'ga');
        ga('create', 'UA-39254352-1');
        ga('send', 'pageview');
      }
    </script>
    <!--
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script
      src="https://cdn.ravenjs.com/3.26.2/raven.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
